[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "==0.3.10"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "==5.0.0"
werkzeug = "==3.0.4"
python-dotenv = "*"
validators = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
